<!DOCTYPE html>
<html>

   <head>
     <title>Timestamp Microservice</title>
     <meta charset="utf-8">      
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
     <link href="/public/css/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <div class="well">
          
        
         <h1>Timestamp Microservice</h1>
        <hr>
        <p>
          This service accepts a string as a parameter and will check whether it is either a human readable date or a Unix timestamp. 
          If it is, it will return both the Unix timestamp and the natural language form of that date as a JSON object. 
          If it is neither, it returns 'null' for those properties.
        </p>
      
        <h2>Example Usage</h2>
        <p>You can access the API through a browser or by creating an ajax get request.</p>
        <code>https://timestamp-micro-srvc.herokuapp.com/December 15, 2015</code>
        <br>
        <code>https://timestamp-micro-srvc.herokuapp.com/1450137600</code>
        <h2>Example output:</h2>
        <code>{
          <br>   "unix": 1450137600, 
          <br>
               "natural": "December 15, 2015"
          <br>
          }
        </code>
          </div> <!-- well -->
      </div> <!-- container -->
   </body>
</html>
